In [1]:
from mohler_loader import load_mohler, rename_mohler

In [2]:
df = load_mohler()
df = rename_mohler(df)

In [3]:
df.describe()

       assignment       grade  student_id
count  630.000000  630.000000  630.000000
mean     2.022222    4.058730   15.655556
std      0.816843    1.186052    8.881686
min      1.000000    0.000000    1.000000
25%      1.000000    3.500000    8.000000
50%      2.000000    4.500000   15.500000
75%      3.000000    5.000000   23.000000
max      3.000000    5.000000   31.000000

In [4]:
df.head(10)

,assignment,question,reference_answer,grade,student_id,provided_answer
0,1,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,3.5,6,High risk problems are address in the prototyp...
1,1,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,5.0,5,To simulate portions of the desired final prod...
2,1,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,4.0,8,A prototype program simulates the behaviors of...
3,1,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,5.0,3,Defined in the Specification phase a prototype...
4,1,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,3.0,4,It is used to let the users have a first idea ...
5,1,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,2.0,24,To find problem and errors in a program before...
6,1,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,2.5,9,To address major issues in the creation of the...
7,1,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,5.0,22,you can break the whole program into prototype...
8,1,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,3.5,23,-To provide an example or model of how the fin...
9,1,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,5.0,2,Simulating the behavior of only a portion of t...

In [5]:
df.nunique()

assignment            3
question             21
reference_answer     21
grade                10
student_id           31
provided_answer     614
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630 entries, 0 to 629
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   assignment        630 non-null    int64
 1   question          630 non-null    object
 2   reference_answer  630 non-null    object
 3   grade             630 non-null    float64
 4   student_id        630 non-null    int64
 5   provided_answer   630 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 29.7+ KB

In [6]:
df.to_csv("../../data/original/Mohler_ShortAnswerGrading_v1.0/ShortAnswerGrading_v1.0/northTexasASAG.csv")

In [7]:
df.dtypes

assignment            int64
question             object
reference_answer     object
grade               float64
student_id            int64
provided_answer      object
dtype: object